NotificationAPI/Schemas/snsreq.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.example.com/namespaces/tns/1580816400443" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/namespaces/tns/1580816400443">
  <xsd:element name="Element">
    <xsd:complexType>
      <xsd:sequence>
                <xsd:element minOccurs="0" name="MSISDN" type="xsd:string"/>
                <xsd:element minOccurs="0" name="Amount" type="xsd:string"/>
            </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
